
/* MAIN DIV STYLE START */

.QuizBox-style{
	background-color: white;
	height: 550px;
	width: 500px;
	margin-left: 40px;
	border-radius: 5px;
	box-shadow: 7px 12px 20px #8c8c8c; /* check */
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 20px;
	float: left;
}
.displayNone{
	display: none;
}

.toolTipDiv{
	width: 150px;
	height:20px;
	display: inline-block;
	margin-left: 5px;
	font-size: 13px;
	color: grey;
}
 .toolTipDiv .toolTipText{
	visibility: hidden;
	width: 150px;
	background-color: #ccebff;
	border: 2px solid #0099ff;
	color: black;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	margin-left: 10px;
}



.toolTipDiv:hover .toolTipText{
	visibility: visible;
}



.toolTipPic{
	width:20px;
	height:20px;
}


.graded{
	pointer-events: none; 
}

/* MAIN DIV STYLE END */



/* LAST DIV STYLE START */

.lastDiv-style{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 30px;
	height: 450px;
	width: 90%;
	
}

.questionLastDiv{
	width: 120px;
	height: 60px;
	display: inline-block;
	border: 1px solid #66c2ff; 
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 15px;
	background-color: #ccebff;
	border-radius: 10px;
}

.questionLastDivIncorrect{
	width: 120px;
	height: 60px;
	display: inline-block;
	border: 1px solid #ff4d4d; 
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: #ff9999;
	border-radius: 10px;
}

.questionLastDivCorrect{
	width: 120px;
	height: 60px;
	display: inline-block;
	border: 1px solid #66ff66; 
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: #b3ffb3;
	border-radius: 10px;
}

.questionLastDivPartialCorrect{
	width: 120px;
	height: 60px;
	display: inline-block;
	border: 1px solid #ffff00; 
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px; 
	background-color: #ffffb3;
	border-radius: 10px;
}


.questionLastDivText{
	color: Black;
	margin-left: 20px;
	margin-top: 22px;
}


.lastDivQuestion-style{
	height:300px;
	width: 450px;
	overflow: auto;
}

.submitButton{
	height: 40px;
	width: 90px;
	margin-top: 30px;
	margin-left: 20px;
	float: left;
	border-radius: 10px;
	background-color: #ccebff;
	border: 1px solid #66c2ff;
	color:#66c2ff;
	outline: None;
	display: inline-block;
}

.submitButton:hover{
	transform: translateY(-5px);
}

.scoreAndSubmitDiv{
	margin-top: 55px;
	width: 450px;
	height: 90px;
}

.finalScoreDiv{
	border-radius: 30px;
	width: 55px;
	height: 55px;
	display: inline-block;
	border: 1px solid #00ff00;
	background-color: #ccffcc;
	text-align: center;
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.finalScoreText{
	margin-top: 19px;
	font-size: 17px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
}
/* LAST DIV STYLE END */







/* NAVIGATION STYLE START */
.navigationDiv-style{
	background-color: white;
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
}

.preButton-style{
	height: 40px;
	width: 90px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 40px;
	float: left;
	border-radius: 10px;
	outline: None;
	border: 1px solid #b3b3b3;
	color:#b3b3b3;
}

.nextButton-style{
	height: 40px;
	width: 90px;
	margin-top: 20px;
	margin-right: 40px;
	float: right;
	border-radius: 10px;
	background-color: #ccebff;
	border: 1px solid #66c2ff;
	color:#66c2ff;
	outline: None;
}

.preButton-style:hover{
	transform: translateY(-5px);
}

.nextButton-style:hover{
	transform: translateY(-5px);
}

.navQuestionDiv{
	float: left;
	margin-top: 20px;
	margin-left: 60px;
}

.select-style{
	display: inline-block;
	width: 60px;
	height: 30px;
	background-color: #f2f2f2;
	outline: none;
	border-radius: 5px;
	border: 1px solid #b3b3b3;
	color: #b3b3b3;
	
}

.totalQuestion{
	display: inline-block;
	margin-left: 10px;
}

/* NAVIGATION STYLE END */


/* MULTIPLE CHOICE QUESTION ONE STYLES START */

.questionMultipleChoiceOne-style{
	background-color: white;
	height: 450px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 30px;
	overflow: auto;
}


.questionMultipleChoiceOneText-style{
	font-size: large;
	margin-bottom: 20px;
	margin-top: 0px;
}

.questionMultipleChoiceOneDivBlue-style{
	width: 300px;
	height: 40px;
	margin-top: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #66c2ff;
	cursor:pointer;
	text-align: left;
	background-color: #ccebff;
	outline: none;
	border-radius: 5px;
}

.questionMultipleChoiceOneDivDefault-style{
	width: 300px;
	height: 40px;
	margin-top: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	cursor:pointer;
	text-align: left;
	outline: none;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 8px 15px #cccccc;
	
}

.questionMultipleChoiceOneDivDefault-style:hover{
	transform: translateY(-5px);
	border: 1px solid #66c2ff;
	background-color: #ccebff;
	
}


/* .questionMultipleChoiceOneP-style{ */
   /* pointer-events: none; */
   /* cursor: default; */
   /* margin:auto; */
   
/* } */

.questionMultipleChoiceOneSpan{
	margin-left: 10px;  
}

/* MULTIPLE CHOICE QUESTION ONE STYLES END */



/* MULTIPLE CHOICE QUESTION MANY STYLES START */

.questionMultipleChoiceMany-style{
	background-color: white;
	height: 450px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 30px;
	overflow: auto;
}


.questionMultipleChoiceManyText-style{
	font-size: large;
	margin-bottom: 30px;
	margin-top: 0px;
}

.questionMultipleChoiceManyDivBlue-style{
	width: 300px;
	height: 40px;
	margin-top: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #66c2ff;
	cursor:pointer;
	text-align: left;
	background-color: #ccebff;
	outline: none;
	border-radius: 5px;
}

.questionMultipleChoiceManyDivDefault-style{
	width: 300px;
	height: 40px;
	margin-top: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	cursor:pointer;
	text-align: left;
	outline: none;
	background-color: white;
	box-shadow: 0px 8px 15px #cccccc;
	border-radius: 5px;
}

.questionMultipleChoiceManyDivDefault-style:hover{
	transform: translateY(-5px);
	border: 1px solid #66c2ff;
	background-color: #ccebff;
	
}

.questionMultipleChoiceManySpan{
	margin-left: 10px;  
}
/* MULTIPLE CHOICE QUESTION MANY STYLES END */




/*  TRUE OR FALSE QUESTION STYLES START */

.questionTrueOrFalse-style{
	background-color: white;
	height: 460px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 20px;
	overflow: auto;
}

.questionTrueOrFalseText-style{
	font-size: 16px;
	margin-bottom: 13px;
	margin-top: 8px;
	margin-left: 5px;
}
.questionTrueOrFalseHeader-style{
	font-size: 150%;
	margin-bottom: 13px;
	margin-top: 0px;
	font-weight: bold;
	display: inline-block;
}

.headerDiv{
	width: 90%; 
	height: 40px; 
}
.trueDiv{
	margin-top: 20px;
	border: 3px dashed #00ff00;
	float: left;
	height: 190px;
	width: 45%;
	margin-left: 30px;
	margin-right: 0px;
	overflow: auto;
}

.falseDiv{
	margin-top: 20px;
	border: 3px dashed #ff5050;
	float: left;
	height: 190px;
	width: 45%;
	margin-left: 0px;
	overflow: auto;
}

.startDiv{
	border: none;
	float: left;
	height: 75px;
	width: 410px;
	margin-left: 15px;
	overflow: auto;
	margin-top: 20px;
	white-space: nowrap;
	box-shadow: 0px 9px 20px #cccccc;
}


.interactDiv{
	margin-left: 0px;
	width: 100%;
}

.questionDiv{
	height: 100px;
	width: 90%;
	margin-left: 20px;
	overflow: auto;
	box-shadow: 0px 9px 20px #cccccc;
}

.questionP{
	padding: 12px;
	background-color: #18A0FB;
	border: none;
	cursor: move;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left: 12px;
	display: inline-block;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 0px;
}

.questionP.dragging{
	opacity: 0.2;
}

/* TRUE OR FALSE QUESTION STYLES END */



/*  SEQUENCE QUESTION STYLES START */


.questionSequence-style{
	background-color: white;
	height: 455px;
	width: 470px;
	margin-left: 15px;
	margin-right: 0px;
	margin-bottom: auto;
	margin-top: 30px;
	overflow: auto;
}


.sequenceQuestionDiv-style{
	width: 90%;
	margin-left: 20px;
	overflow: auto;
	margin-bottom: 20px;
}

.title-style{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 8px;
}

.eventTile{
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #18A0FB;
	border: none;
	cursor: move;
	width: 170px;
	min-height: 30px;
	text-align: left;
	margin-top: 10px;
	margin-left: 12px;
	border-radius: 8px;
	margin-bottom: 0px;
}

.eventTextDiv-style{
	border: 1px solid black;
	width: 223px;
	height: 320px;
	overflow: auto;
	display: inline-block;
}

.eventDropDiv-style{
	border: 1px solid #0099ff;
	width: 223px;
	height: 320px;
	overflow: auto;
	display: inline-block;
	margin-left: 20px;
}
.eventStartDiv-style{
	height: 350px;
}
.sequenceQuestionDivText-style{
	
}


/*  SEQUENCE QUESTION STYLES END */







